<body class="container">
  <div class="header-manage">
    <h3>Product Manager</h3>

    <!-- #region - Add Product  -->
    <div class="parent" *ngIf="selectManagePage() == 'add'">
      <div class="name">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            [(ngModel)]="this.newProduct.name"
          />
        </div>
      </div>
      <div class="price">
        <div class="input-group mb-0">
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="Price"
            [(ngModel)]="this.newProduct.price"
          />
        </div>
      </div>
      <div class="rarity">
        <div class="input-group mb-2">
          <select
            name="rarity"
            class="form-control"
            id="rarity"
            [(ngModel)]="this.newProduct.rarity"
          >
            <option *ngFor="let rarity of this.auxRarity" [ngValue]="rarity">
              {{ rarity }}
            </option>
          </select>
        </div>
      </div>
      <div class="type">
        <div class="input-group mb-2">
          <select
            name="type"
            class="form-control"
            id="type"
            [(ngModel)]="this.newProduct.type"
          >
            <option *ngFor="let type of this.auxTypes" [ngValue]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <div class="img-url">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            id="imgUrl"
            placeholder="Image URL"
            [(ngModel)]="this.newProduct.imgLink"
          />
        </div>
      </div>
      <div class="description">
        <div class="input-group mb-0">
          <textarea
            type=""
            class="form-control"
            id="description"
            rows="4"
            placeholder="Description"
            [(ngModel)]="this.newProduct.description"
          ></textarea>
        </div>
      </div>
      <div class="add">
        <button
          class="btn btn-primary btn-add"
          (click)="addProduct()"
          [disabled]="
            !this.newProduct.name ||
            !this.newProduct.price ||
            !this.newProduct.rarity ||
            !this.newProduct.type ||
            !this.newProduct.imgLink ||
            !this.newProduct.description
          "
        >
          Add Product
        </button>
      </div>
      <div class="back">
        <button class="btn btn-primary btn-back" [routerLink]="['/admin']">
          Back
        </button>
      </div>
    </div>
    <!-- #endregion -->

    <!-- #region - Edit/Delete Product-->
    <div class="parent" *ngIf="selectManagePage() != 'add'">
      <div class="select-product">
        <div class="input-group mb-2">
          <select
            name="selectProduct"
            class="form-control"
            id="selectProduct"
            [(ngModel)]="this.selectedProduct"
          >
            <option
              *ngFor="let product of this.allProducts"
              [ngValue]="product"
            >
              {{ product.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="name">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            [(ngModel)]="this.selectedProduct.name"
          />
        </div>
      </div>
      <div class="price">
        <div class="input-group mb-0">
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="Price"
            [(ngModel)]="this.selectedProduct.price"
          />
        </div>
      </div>
      <div class="rarity">
        <div class="input-group mb-2">
          <select
            name="rarity"
            class="form-control"
            id="rarity"
            [(ngModel)]="this.selectedProduct.rarity"
          >
            <option *ngFor="let rarity of this.auxRarity" [ngValue]="rarity">
              {{ rarity }}
            </option>
          </select>
        </div>
      </div>
      <div class="type">
        <div class="input-group mb-2">
          <select
            name="type"
            class="form-control"
            id="type"
            [(ngModel)]="this.selectedProduct.type"
          >
            <option *ngFor="let type of this.auxTypes" [ngValue]="type">
              {{ type }}
            </option>
          </select>
        </div>
      </div>
      <div class="img-url">
        <div class="input-group mb-0">
          <input
            type="text"
            class="form-control"
            id="imgUrl"
            placeholder="Image URL"
            [(ngModel)]="this.selectedProduct.imgLink"
          />
        </div>
      </div>
      <div class="description">
        <div class="input-group mb-0">
          <textarea
            type=""
            class="form-control"
            id="description"
            rows="4"
            placeholder="Description"
            [(ngModel)]="this.selectedProduct.description"
          ></textarea>
        </div>
      </div>
      <div class="edit" *ngIf="selectManagePage() == 'edit'">
        <button
          class="btn btn-primary btn-edit"
          (click)="editProduct()"
          [disabled]="
            !this.selectedProduct.name ||
            !this.selectedProduct.price ||
            !this.selectedProduct.rarity ||
            !this.selectedProduct.type ||
            !this.selectedProduct.imgLink ||
            !this.selectedProduct.description
          "
        >
          Save Changes
        </button>
      </div>
      <div class="delete" *ngIf="selectManagePage() == 'delete'">
        <button
          class="btn btn-primary btn-delete"
          (click)="deleteProduct()"
          [disabled]="
            !this.selectedProduct.name ||
            !this.selectedProduct.price ||
            !this.selectedProduct.rarity ||
            !this.selectedProduct.type ||
            !this.selectedProduct.imgLink ||
            !this.selectedProduct.description
          "
        >
          Delete Product
        </button>
      </div>
      <div class="back">
        <button class="btn btn-primary btn-back" [routerLink]="['/admin']">
          Back
        </button>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</body>
