<body class="container">
  <div class="header-login">
    <h3>Login</h3>
    <div class="username">
      <div class="input-group mb-2">
        <span class="input-group-text" id="username">Username</span>
        <input
          type="text"
          class="form-control"
          id="username"
          [(ngModel)]="username"
        />
      </div>
    </div>

    <div class="password">
      <div class="input-group mb-2">
        <span class="input-group-text" id="password">Password</span>
        <input
          type="password"
          class="form-control"
          id="password"
          [(ngModel)]="password"
        />
      </div>
    </div>
    <button class="btn btn-primary btn-login" (click)="verifyLogin()">
      Login
    </button>
    <button class="btn btn-primary btn-back" [routerLink]="['/products']">
      Back
    </button>
    <button class="btn btn-primary btn-create" (click)="saveToCreateUser()">
      Create
    </button>
  </div>
</body>
