body {
  align-items: center;
  width: 70%;
  padding: 0;
}
h2 {
  text-align: center;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.name {
  text-align: center;
  grid-area: 1 / 1 / 2 / 6;
}
.rarity {
  text-align: center;
  grid-area: 2 / 1 / 3 / 2;
}
.type {
  text-align: center;
  grid-area: 2 / 2 / 3 / 3;
}
.description {
  text-align: center;
  grid-area: 3 / 1 / 6 / 3;
  overflow-y: auto;
}
.image {
  text-align: center;
  padding: 30px;
  grid-area: 2 / 3 / 6 / 6;
}

.image img {
  width: 50%;
  height: auto;
}

.btn-back {
  padding: 10px;
  margin: 10px;
  width: 200px;
}
