<body class="container">
  <div class="parent">
    <div class="name">
      <h2>{{ productDetails.name }}</h2>
    </div>
    <ng-container *ngFor="let rarity of rarityCheck; let i = index">
      <div
        class="rarity"
        *ngIf="rarity == productDetails.rarity"
        [ngStyle]="{ color: rarityColors[i] }"
      >
        {{ productDetails.rarity }}
      </div>
    </ng-container>
    <div class="type">{{ productDetails.type }}</div>
    <div class="description">{{ productDetails.description }}</div>
    <div class="image"><img src="{{ productDetails.imgLink }}" /></div>
  </div>
  <button [routerLink]="['/products']" class="btn btn-primary btn-back">
    Back
  </button>
  <input
    type="number"
    class="form-control amount-selector"
    min="1"
    (scroll)="(false)"
    [(ngModel)]="this.amountToAdd"
    *ngIf="isLoggedIn()"
  />
  <div class="in-cart-info" *ngIf="isInCart()">
    {{ howManyInCart() }} in Cart
  </div>
  <button
    class="btn btn-primary btn-add"
    (click)="addToCart()"
    *ngIf="isLoggedIn()"
  >
    Add
  </button>
  <button
    class="btn btn-danger btn-remove"
    (click)="removeFromCart()"
    *ngIf="isInCart()"
  >
    Remove
  </button>
</body>
