body {
  align-items: center;
  width: 70%;
  padding: 0;
  height: fit-content;
}

td img {
  height: 100px;
  width: auto;
}

.table {
  align-self: center;
}

.table td,
.table th {
  vertical-align: middle;
}

tbody tr:hover {
  cursor: pointer;
  background-color: #bbb;
}

.rarity {
  font-weight: bolder;
}
