body {
  align-items: center;
  width: 70%;
  padding: 0;
  height: fit-content;
}

td img {
  height: 100px;
  width: auto;
}

.table {
  align-self: center;
}

.table td,
.table th {
  vertical-align: middle;
}

tbody tr td {
  position: relative;
}

tbody tr:hover {
  cursor: pointer;
  background-color: #bbb;
}

.rarity {
  font-weight: bolder;
}

.btn-remove {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.btn-add {
  position: absolute;
  bottom: 10px;
  width: 40%;
  right: 0px;
}

.in-cart-info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
  font-weight: 400;
  font-size: 11px;
}

/* Tira as setas minusculas do seletor de quantidade */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount-selector {
  position: absolute;
  bottom: 10px;
  left: 0px;
  height: 25%;
  font-size: 15px;
  width: 45%;
}
