<body class="container">
  <table class="table table-striped text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Type</th>
        <th scope="col">Rarity</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let product of products; let i = index"
        (click)="goToProductPage(product.productId)"
      >
        <td>
          {{ product.name
          }}<button
            class="btn btn-danger btn-sm btn-remove exception"
            (click)="$event.stopPropagation(); removeFromCart(product)"
            *ngIf="isInCart(product)"
          >
            Remove
          </button>
        </td>

        <td>{{ product.type }}</td>
        <td
          class="rarity"
          *ngIf="product.rarity == rarityCheck[0]"
          [ngStyle]="{ color: rarityColors[0] }"
        >
          {{ product.rarity }}
          <div class="in-cart-info" *ngIf="isInCart(product)">
            {{ howManyInCart(product) }} in Cart
          </div>
        </td>
        <td
          class="rarity"
          *ngIf="product.rarity == rarityCheck[1]"
          [ngStyle]="{ color: rarityColors[1] }"
        >
          {{ product.rarity }}
          <div class="in-cart-info" *ngIf="isInCart(product)">
            {{ howManyInCart(product) }} in Cart
          </div>
        </td>
        <td
          class="rarity"
          *ngIf="product.rarity == rarityCheck[2]"
          [ngStyle]="{ color: rarityColors[2] }"
        >
          {{ product.rarity }}
          <div class="in-cart-info" *ngIf="isInCart(product)">
            {{ howManyInCart(product) }} in Cart
          </div>
        </td>
        <td
          class="rarity"
          *ngIf="product.rarity == rarityCheck[3]"
          [ngStyle]="{ color: rarityColors[3] }"
        >
          {{ product.rarity }}
          <div class="in-cart-info" *ngIf="isInCart(product)">
            {{ howManyInCart(product) }} in Cart
          </div>
        </td>
        <td
          class="rarity"
          *ngIf="product.rarity == rarityCheck[4]"
          [ngStyle]="{ color: rarityColors[4] }"
        >
          {{ product.rarity }}
          <div class="in-cart-info" *ngIf="isInCart(product)">
            {{ howManyInCart(product) }} in Cart
          </div>
        </td>
        <td>
          {{ product.price }}
          <input
            type="number"
            class="form-control amount-selector exception"
            min="1"
            [(ngModel)]="this.amountToAdd[product.productId]"
            (click)="$event.stopPropagation()"
            *ngIf="isLoggedIn()"
          />
          <button
            class="btn btn-primary btn-sm btn-add"
            (click)="
              $event.stopPropagation();
              addToCart(product, this.amountToAdd[product.productId])
            "
            *ngIf="isLoggedIn()"
            [disabled]="!this.amountToAdd[product.productId]"
          >
            Add
          </button>
        </td>
        <td>
          <img src="{{ product.imgLink }}" alt="{{ product.name }}" />
        </td>
      </tr>
    </tbody>
  </table>
</body>
