<body class="container">
  <div class="header-profile">
    <h3>Shopping Cart</h3>

    <div class="parent">
      <div class="products">
        <div
          class="parent-products"
          *ngFor="
            let shoppingCartProduct of activeShoppingCart.productsShoppingCart;
            trackBy: trackItem
          "
        >
          <div class="image">
            <img src="{{ shoppingCartProduct.product.imgLink }}" />
          </div>
          <div class="name">
            {{ shoppingCartProduct.product.name }}
          </div>
          <div class="amount">
            <div>x{{ shoppingCartProduct.amount }}</div>
            <div class="delete">
              <button
                class="btn btn-secondary btn-sm btn-add-amount"
                (click)="addOne(shoppingCartProduct)"
              >
                +
              </button>
            </div>
            <div class="delete">
              <button
                class="btn btn-secondary btn-sm btn-sub-amount"
                (click)="subOne(shoppingCartProduct)"
              >
                -
              </button>
            </div>
          </div>
          <div class="price">
            <div>{{ shoppingCartProduct.product.price }} GP</div>
            <div class="delete">
              <button
                class="btn btn-danger btn-sm btn-delete"
                (click)="removeOne(shoppingCartProduct)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="total">Total</div>
      <div class="total-price">{{ calculateTotalPrice() }} GP</div>
      <div class="back">
        <button class="btn btn-primary btn-back" [routerLink]="['/products']">
          Back
        </button>
      </div>
      <div class="delete-all">
        <button class="btn btn-danger btn-delete-all" (click)="removeAll()">
          Delete All
        </button>
      </div>
      <div class="buy">
        <button class="btn btn-primary btn-buy" (click)="placeOrder()">
          Buy
        </button>
      </div>
    </div>
  </div>
</body>
