.all {
  background-image: url(../../data/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.banner {
  background-image: url("../../data/banner_hero_shop.jpg");
  background-size: cover;
  position: relative;
  height: 20vh;
}

.shop-title {
  color: lightskyblue;
  position: absolute;
  top: 37%;
  left: 45%;
  font-size: 30px;
}

.btn-login {
  position: absolute;
  width: 100px;
  left: 20px;
  top: 15px;
}

.btn-logout {
  position: absolute;
  width: 100px;
  left: 20px;
  bottom: 15px;
}

.btn-shop-cart {
  position: absolute;
  width: 100px;
  right: 20px;
  top: 15px;
  bottom: 15px;
}
